# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Logs & settings
*.log
local_settings.py

# Databases
*.db
*.sqlite
*.sqlite3
db.sqlite3
db.sqlite3-journal
data/

# Flask
instance/
.webassets-cache

# Sphinx docs
docs/_build/

# Jupyter
.ipynb_checkpoints

# Virtualenv
.env
.env.*
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editors
.vscode/
.idea/

# Ruff
.ruff_cache/

# PyPI config
.pypirc

# Cursor
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Node / Frontend
node_modules/
dist/
build/

# Alembic
!alembic.ini
!alembic/versions/*.py
